<%- include("./partials/header") %>

<h1>Register or Login before acessing this content!</h1>
<br>
<a href="/"><button class="btn btn-primary">Go back home!</button></a>
<%- include("./partials/footer") %>